@import 'tailwindcss';
@plugin 'daisyui' {
    themes: emerald --default;
}

@theme {
    /* Fonts */
    --font-poppins: 'Poppins', sans-serif;
    --font-dynapuff: 'DynaPuff', cursive;
    /* Breakpoints */
    --breakpoint-xs: 30rem;
    --breakpoint-3xl: 121rem; /* 120rem is 1920px */
}

:root {
    font-family: var(--font-poppins);
}
